<div class="widget-wrap">
    <h3 class="widget-title">RSVP</h3>
    <div class="widget">
        <!-- Begin MailChimp Signup Form -->
        <a href="http://www.meetup.com/OKC-Sharp/events/219282178/" data-event="219282178" class="mu-rsvp-btn">RSVP</a>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s); js.id=id;js.async=true;js.src="https://a248.e.akamai.net/secure.meetupstatic.com/s/script/577045002335750872971/api/mu.btns.js?id=460gifmm0n3jkk9lma61q206t4";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","mu-bootjs");</script>
</div>
